@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(
    circle,
    hsl(214, 47%, 23%) 10%,
    hsl(237, 49%, 15%) 100%
  );
}

.score-container {
  display: flex;
  border: 5px solid hsl(217, 16%, 45%);
  width: 50%;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.score-container .score {
  text-align: center;
  margin-left: auto;
  background-color: #fff;
  padding-left: 40px;
  border-radius: 10px;
  padding-right: 40px;
  color: hsl(229, 64%, 46%);
}

.score p {
  text-transform: uppercase;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.you-picked {
  display: grid;
  margin-left: 50px;
  grid-template-columns: 2fr 3fr 2fr;
  justify-content: center;
  align-items: center;
}

.lose-win {
  text-align: center;
}

.lose-win button {
  padding: 15px 50px 15px 50px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: bolder;
  font-size: 30px;
}

.lose-win h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}

.paper-picked,
.house-picked {
  cursor: pointer;
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 25px solid hsl(230, 89%, 62%);
}

.house-picked-yellow {
  cursor: pointer;
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 25px solid hsl(39, 89%, 49%);
}

.house-picked-red {
  cursor: pointer;
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 25px solid hsl(349, 71%, 52%);
}

.rock {
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid hsl(349, 71%, 52%);
  position: absolute;
  left: 35%;
  top: 35%;
  cursor: pointer;
}

.paper {
  cursor: pointer;
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid hsl(230, 89%, 62%);
  position: absolute;
  left: 55%;
  top: 35%;
}

.scissors {
  background-color: #fff;
  width: 150px;
  cursor: pointer;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid hsl(40, 84%, 53%);
  position: absolute;
  left: 45%;
  top: 65%;
}

@media (max-width: 768px) {
    .rock {
        left: 4%;
        top: 36%;
        width: 100px;
        height: 100px;
    }

    .paper {
        width: 100px;
        height: 100px;
        top: 36%;
        left: 70%;
    }

    .scissors {
        width: 100px;
        height: 100px;
        top: 71%;
        left: 38%;
    }

    .score-container {
        width: 100%;
        padding: 10px;
    }

    .score-container .score {
        padding: 10px;

    }

    .house-picked,.paper-picked {
        width: 130px;
        height: 130px;
        border: 10px solid hsl(230, 89%, 62%);
        font-size: 7px;
    }

    .you-picked {
        margin: 0;
    }

    .house-picked-red {
        font-size: 7px;
        width: 130px;
        height: 130px;
        border: 10px solid hsl(349, 71%, 52%);
    }

    .house-picked-yellow {
        font-size: 7px;
        width: 130px;
        height: 130px;
        border: 10px solid hsl(40, 84%, 53%);
    }

    .lose-win {
        position: relative;
        top: 70%;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .lose-win h1{
        font-size: 40px;
    }

    .main {
        margin:0;
        padding-top: 100px;
    }

    .lose-win button {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 5px;
    }
}
